.headerContainer{
    height: 5rem;
}

.headerContent{
    max-width: 1280px;
    height: 5rem;
    margin: 0 auto;
    padding: 0 16px;
    
    /*utilizando o flex-box */
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav{
        display: flex;
        align-items: center;
        gap: 14px;
        
        a{
            color: var(--white);
            text-decoration: none;

            /*velocidade do efeito */
            transition: color .8s;

            /*efeito de cor ao passar o mouse em cima */
            &:hover{
                color: var(--red-900);
            }
        }

        button{
            border: 0;
            background: transparent;
            margin-left: 16px;

            /*transição para aumentar lentamente */
            transition:  transform 0.8s;

            /* efeito para ícone aumentar quando passar em cima*/
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}